
@model IEnumerable<FlyWithMe.Class.Planes>

@{
    ViewBag.Title = "Finding";

    string[] TableColumns = new string[] { "Air Line", "From", "To", "Take Off", "Arrival", "Price", "Actions" };


}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />



</head>

<div class="info"></div>

<div class='parent'>
    <div class='child'>
        <b>@ViewBag.SearchResults</b>
    </div>

    <div class="date">
        <b>@ViewData["Departure"]</b>
    </div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.Planes)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.from)</td>
                <td>@Html.DisplayFor(modelItem => item.to)</td>
                <td>@Html.DisplayFor(modelItem => item.departureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.returnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.capacity)</td>
                <td>
                    @Html.ActionLink("buying a ticket", "InsertData", "Booking", new { id = item.id }, null)
                    <b>|</b>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="info"></div>


<div class='parent2'>
    <div class='child2'><b>@ViewData["Destination"]  → @ViewData["Origin"]</b></div>
    <div class="date">
        <b>@ViewData["Return"]</b>
    </div>
</div>


<table class="table table-bordered table-striped" id="myTable2">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.Planes)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.from)</td>
                <td>@Html.DisplayFor(modelItem => item.to)</td>
                <td>@Html.DisplayFor(modelItem => item.departureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.returnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.capacity)</td>
                <td>
                    @Html.ActionLink("buying a ticket", "InsertData", "Booking", new { id = item.id }, null)
                    <b>|</b>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>











@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $('#myTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: '500px',
            scrollCollapse: true
        });
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
        $('#myTable2').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: '500px',
            scrollCollapse: true
        });
        $(document).ready(function () {
            $('#myTable2').DataTable();
        });
    </script>

}

