
@model IEnumerable<FlyWithMe.Class.Planes>

@{
    ViewBag.Title = "Finding";
    string[] colum = new string[] { "From", "To", "DepartureDate", "ReturnDate", "Price", "Capacity", "DO" };


}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")



</head>

<h3></h3>


<div class='parent'>
    <div class='child'>Your Search Results For Flight From @ViewBag.SearchResults</div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>

            @foreach (string c in colum)
            {
                <th scope="col">@c</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.Planes)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.from)</td>
                <td>@Html.DisplayFor(modelItem => item.to)</td>
                <td>@Html.DisplayFor(modelItem => item.departureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.returnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.capacity)</td>
                <td>
                    @Html.ActionLink("buying a ticket", "InsertData", "Booking", new { id = item.id }, null)
                    <b>|</b>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>



<link rel="stylesheet" type="text/css" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $('#myTable').dataTable({ searching: false, paging: false, info: false });
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

