
@model IEnumerable<FlyWithMe.Class.Planes>
@{
    ViewBag.Title = "InboundFlights";
    int x = ViewBag.SearchResults.Passengers;
    string[] TableColumns = new string[] { "ID", "Air Line", "Take Off", "Arrival", "Price x " + x, "Actions" };
}

@section Scripts
{
    <script src="@Url.Content("~/Content/scripts.js")"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
</head>



<section id="section">

    <div class='parent2'>
        <div class='child'>
            <b>@ViewBag.Destination ⸺✈︎ @ViewBag.Origin</b>
        </div>
    </div>
    <div class="child2">
        Displaying Results For @x Passengers <b>|</b> Economy Class
    </div>

</section>

<div class='child3'>Selected Outbound Flight</div>


<table class="flights-table2" id="">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        <tr onmouseover="changeFontColor('#D70040')" onmouseout="changeFontColor('black')">
            <td>@ViewBag.OnePlanes.ID</td>
            <td>@ViewBag.OnePlanes.Company</td>
            <td>@ViewBag.OnePlanes.TakeOff</td>
            <td>@ViewBag.OnePlanes.Landing</td>
            <td>@ViewBag.OnePlanes.Price</td>
            <td>
                <a href='javascript:history.go(-1)'>Change Selection</a>
            </td>
        </tr>
    </tbody>
</table>




<div id="wrapper">
    <div id="left">Select Inbound Flight</div>
    <a href="#" id="right">Skip Choice</a>
</div>

<table class="flights-table" id="">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.BackPlaneslist)
        {
            <tr onmouseover="changeFontColor('#D70040')" onmouseout="changeFontColor('black')">
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Company)</td>
                <td>@Html.DisplayFor(modelItem => item.TakeOff)</td>
                <td>@Html.DisplayFor(modelItem => item.Landing)</td>
                @Html.Display(item.TotalPrice(x).ToString())
                <td>@Html.DisplayFor(modelItem => item.Price)</td>


                <td>
                    @Html.ActionLink("Choose Inbound Flight", "PassengersInfo", "Booking", new { IdGo = ViewBag.OnePlanes.ID, IdBack = item.ID, Origin = ViewBag.SearchResults.Origin, Destination = ViewBag.SearchResults.Destination, Departure = ViewBag.SearchResults.Departure, Return = ViewBag.SearchResults.Return, Class = ViewBag.SearchResults.Class, Passengers = ViewBag.SearchResults.Passengers }, null)
                </td>
            </tr>
        }
    </tbody>
</table>



