@model FlyWithMe.Models.SearchModel

@{
    ViewBag.Title = "Search";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - My Flight</title>
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/home.css" type="text/css" />
@Scripts.Render("~/bundles/modernizr")
<img class="bg" src="~/images/background.png" alt="">

<div class="search-box">
    @using (Html.BeginForm("Finding", "Home"))
    {

        @Html.AntiForgeryToken()
        <h4>Flight Search</h4>
        
        <div class="parent">

            <div class="div1">
                @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Origin, new { htmlAttributes = new { @class = "form-input" } })
            </div>

            <div class="div2">
                @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-input" } })
            </div>

            <div class="div3">
                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-input", @type = "date" } })
            </div>

            <div class="div4">
                @Html.LabelFor(model => model.Return, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Return, new { htmlAttributes = new { @class = "form-input", @type = "date" } })
            </div>

            <div class="div5">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-input" } })
            </div>

            <div class="div6">
                @Html.LabelFor(model => model.Passengers, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Passengers, new { htmlAttributes = new { @class = "form-input" } })
            </div>

            <div class="div7">
                    <input type="submit" value="Search" class="btn btn-primary btn-lg btn-block" />
            </div>

        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
