@model FlyWithMe.Models.SearchModel

@{
    ViewBag.Title = "Search";
}
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/scripts.js"></script>
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - My Flight</title>
@Styles.Render("~/Content/css")


<link rel="stylesheet" href="~/Content/home.css" type="text/css" />
@Scripts.Render("~/bundles/modernizr")

<body>

    <img class="bg" src="~/images/background.jpg" alt="">
    <div class="heading">Life Is Short But</div>
    <div class="heading2">The World Is Wide</div>

    <div class="search-box">

        @using (Html.BeginForm("OutboundFlights", "Home", FormMethod.Post, new { @class = "search-form" }))
        {

            @Html.AntiForgeryToken()


            <div class="parent">

                <div class="div1">
                    @Html.DropDownListFor(model => model.Origin, (SelectList)ViewBag.Cities, "Select Origin", new { @class = "form-input", required = "required" })
                </div>

                <div class="div2">
                    @Html.DropDownListFor(model => model.Destination, (SelectList)ViewBag.Cities, "Select Destination", new { @class = "form-input", required = "required" })
                </div>

                <div class="div3">
                    @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-input", @type = "date", @id = "startDate", @onchange = "setMinReturnDate()", @min = DateTime.Now.ToString("yyyy-MM-dd"), placeholder = "", required = "required" } })
                </div>

                <div class="div4">
                    @Html.EditorFor(model => model.Return, new { htmlAttributes = new { @class = "form-input", @type = "date", @id = "endDate", @min = DateTime.Now.ToString("yyyy-MM-dd"), required = "required" } })
                </div>
                <div class="div5">
                    @Html.TextBoxFor(model => model.Passengers, new { @class = "form-input", @id = "PassengersNumber", required = "required", placeholder = "Passengers Number", min = "1", max = "10" })
                </div>




            </div>
            <input type="submit" value="Search" class="" id="button" />

        }

    </div>

</body>
<div class="loading-screen" id="loading-screen">
    <div class="spinner">
        <iframe src="https://giphy.com/embed/U29iRRUrtx1wjD4GR4" frameBorder="0" allowFullScreen></iframe>
    </div>
</div>

<script>

    function setMinReturnDate() {
        // Get the value of the departure date field
        var departureDate = document.getElementById("startDate").value;
        // Set the minimum value for the return date field to the departure date
        document.getElementById("endDate").min = departureDate;
    }

    const form3 = document.querySelector('.search-form');
    form3.addEventListener('submit', handleFormSubmit);

    function handleFormSubmit(event) {
        // prevent the default form submission behavior
        event.preventDefault();
        // select the form element
        const form2 = event.target;
        console.log("Test");
        // validate the form input
        if (!validateForm(form2)) {
            // form input is invalid, do not show the loading screen
            return;
        }
        // show the loading screen
        document.querySelector('.loading-screen').style.display = 'block';
        // submit the form after a short delay to allow the loading screen to be displayed
        setTimeout(() => {
            sessionStorage.setItem('loadingScreenShown', 'true');
            form2.submit();
        }, 2000); // the delay duration should be specified here
    }

    function validateForm(form) {
        // select all required form elements
        const requiredFields = form.querySelectorAll('[required]');
        const requiredFieldsArray = Array.from(requiredFields);
        var passengersCount = document.getElementById('PassengersNumber').value;
        passengersCount = parseInt(passengersCount);
        // check if any required fields are empty
        const emptyFields = requiredFieldsArray.filter((field) => !field.value);
        if (emptyFields.length > 0 || passengersCount > 10 || passengersCount < 1) {
            // at least one required field is empty, return false
            return false;
        }
        return true;
    }

</script>




