@model FlyWithMe.Models.SearchModel

@{
    ViewBag.Title = "Search";
}
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/scripts.js"></script>
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - My Flight</title>
@Styles.Render("~/Content/css")


<link rel="stylesheet" href="~/Content/home.css" type="text/css" />
@Scripts.Render("~/bundles/modernizr")

<body>

    <img class="bg" src="~/images/background.jpg" alt="">
    <div class="heading">Life Is Short But</div>
    <div class="heading2">The World Is Wide</div>

    <div class="search-box">

        @using (Html.BeginForm("OutboundFlights", "Home", FormMethod.Post, new { @class = "search-form" }))
        {

            @Html.AntiForgeryToken()


            <div class="parent">

                <div class="div1">
                    @Html.DropDownListFor(model => model.Origin, (SelectList)ViewBag.Cities, "Select Origin", new { @class = "form-input", required = "required" })
                </div>

                <div class="div2">
                    @Html.DropDownListFor(model => model.Destination, (SelectList)ViewBag.Cities, "Select Destination", new { @class = "form-input", required = "required" })
                </div>

                <div class="div3">
                    @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-input", @type = "date", @id = "startDate", @onchange = "setMinReturnDate()", placeholder = "", required = "required" } })
                    @*@Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "form-label" })*@
                </div>

                <div class="div4">
                    @Html.EditorFor(model => model.Return, new { htmlAttributes = new { @class = "form-input", @type = "date", @id = "endDate", required = "required" } })
                    @*@Html.LabelFor(model => model.Return, htmlAttributes: new { @class = "form-label" })*@
                </div>
                <div class="div5">
                    @Html.TextBoxFor(model => model.Passengers, new { @class = "form-input", @id = "PassengersNumber", required = "required", placeholder = "Passengers Number", min = "1", max = "10" })
                </div>




            </div>
            <input type="submit" value="Search" class="" id="button" />

        }

    </div>

</body>
<div class="loading-screen" id="loading-screen">
    <div class="spinner">
        <iframe src="https://giphy.com/embed/U29iRRUrtx1wjD4GR4" frameBorder="0" allowFullScreen></iframe>
    </div>
</div>
<script>

    function setMinReturnDate() {
        // Get the value of the departure date field
        var departureDate = document.getElementById("startDate").value;
        // Set the minimum value for the return date field to the departure date
        document.getElementById("endDate").min = departureDate;
    }
</script>





