
@model IEnumerable<FlyWithMe.Class.Planes>

@{
    ViewBag.Title = "OutboundFlights";
    int x = ViewBag.SearchResults.Passengers;
    string[] TableColumns = new string[] { "ID","Air Line", "Take Off", "Arrival", "Price x "+x, "Actions" };


}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />



</head>


<div class="info"></div>
<div class='parent2'>
    <div class='child2'>
        <b>@ViewBag.SearchResults</b>
    </div>
    
    <div class="date">
        <b>@ViewData["Departure"]</b>
    </div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.GoingPlaneslist)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Company)</td>
                <td>@Html.DisplayFor(modelItem => item.TakeOff)</td>
                <td>@Html.DisplayFor(modelItem => item.Landing)</td>

                @Html.Display(item.TotalPrice(x).ToString())
=======
                <td>@Html.DisplayFor(modelItem => item.Price)</td>             
                <td>
                    @Html.ActionLink("Choose OutBound Flight", "InboundFlights", "Home", new { IdGo = item.ID, IdBack = -1, Origin = ViewBag.SearchResults.Origin, Destination = ViewBag.SearchResults.Destination, Departure = ViewBag.SearchResults.Departure, Return = ViewBag.SearchResults.Return, Class = ViewBag.SearchResults.Class, Passengers = ViewBag.SearchResults.Passengers }, null)                    <b>|</b>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="info"></div>





@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $('#myTable').dataTable({
            searching: true,
            paging: false,
            info: false,
            scrollY: '500px',
            scrollCollapse: true
        });
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

