
@model IEnumerable<FlyWithMe.Class.Planes>

@{
    ViewBag.Title = "OutboundFlights";
    int x = ViewBag.SearchResults.Passengers;
    string[] TableColumns = new string[] { "ID", "Air Line", "Take Off", "Arrival", "Price", "Actions" };
}
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts.js")"></script>
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />



</head>


<section id="section">

    <div class='parent2'>
        <div class='child'>
            <b>@ViewBag.SearchResults</b>
        </div>
    </div>
    <div class="child2">
        Displaying Results For @x Passengers <b>|</b> Economy Class
    </div>

</section>


<table class="flights-table" id="">
    <thead>
        <tr>

            @foreach (string column in TableColumns)
            {
                <th scope="col">@column</th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (FlyWithMe.Class.Planes item in ViewBag.GoingPlaneslist)
        {
            <tr onmouseover="changeFontColor('#D70040')" onmouseout="changeFontColor('black')">
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Company)</td>
                <td>@Html.DisplayFor(modelItem => item.TakeOff)</td>
                <td>@Html.DisplayFor(modelItem => item.Landing)</td>


                @Html.Display(item.TotalPrice(x).ToString())
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    @Html.ActionLink("Choose OutBound Flight", "InboundFlights", "Home", new { IdGo = item.ID, IdBack = -1, Origin = ViewBag.SearchResults.Origin, Destination = ViewBag.SearchResults.Destination, Departure = ViewBag.SearchResults.Departure, Return = ViewBag.SearchResults.Return, Class = ViewBag.SearchResults.Class, Passengers = ViewBag.SearchResults.Passengers }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

