
@model IEnumerable<FlyWithMe.Class.Planes>

@{
    ViewBag.Title = "OutboundFlights";
    int x = ViewBag.SearchResults.Passengers;
    string[] TableColumns = new string[] { "Departure Date", "Air Line", "Take Off", "Arrival", "Price x " + x, "Actions" };
}
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts.js")"></script>
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/FlightList.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Scripts.Render("~/bundles/modernizr")



</head>

<body>

    <section id="section">

        <div class='parent2'>
            <div class='child'>
                <b>@ViewBag.SearchResults</b>
            </div>
        </div>
        <div class="child2">
            Displaying Results For @x Passengers <b>|</b> Economy Class
        </div>

    </section>

    <label for="sortList" id="sortListLabel">Sort flights by:</label>
    <select id="sortList" onchange="sortTable()">
        <option value="" disabled selected>Sort By</option>
        <option value="price-asc">Price (Ascending)</option>
        <option value="price-desc">Price (Descending)</option>
        <option value="popularity">Popularity</option>
    </select>

    <table class="flights-table" id="flights-table">
        <thead>
            <tr>

                @foreach (string column in TableColumns)
                {
                    <th scope="col">@column</th>
                }
            </tr>

        </thead>
        <tbody>
            @foreach (FlyWithMe.Class.Planes item in ViewBag.GoingPlaneslist)
            {
                <tr onmouseover="changeFontColor('#D70040')" onmouseout="changeFontColor('black')" data-price="@item.Price" data-popularity="@item.BookedSeats" data-star="false">
                    <td>@Html.DisplayFor(modelItem => item.DepartureDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Company)</td>
                    <td>@Html.DisplayFor(modelItem => item.TakeOff)</td>
                    <td>@Html.DisplayFor(modelItem => item.Landing)</td>


                    @Html.Display(item.TotalPrice(x).ToString())
                    <td data-price="@item.Price">@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        @Html.ActionLink("Choose OutBound Flight", "InboundFlights", "Home", new { IdGo = item.ID, IdBack = -1, Origin = ViewBag.SearchResults.Origin, Destination = ViewBag.SearchResults.Destination, Departure = ViewBag.SearchResults.Departure, Return = ViewBag.SearchResults.Return, Passengers = ViewBag.SearchResults.Passengers }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <script src="~/Content/scripts.js"></script>
</body>