

@{
    ViewBag.Title = "Passenger Information";
    int passengersCount = (int)Session["count"];

    FlyWithMe.Class.Planes plane = ViewBag.outboundFlight;

    FlyWithMe.Class.Planes outboundFlight = plane.copy();
    FlyWithMe.Class.Planes inboundFlight = ViewBag.inboundFlight;
    FlyWithMe.Class.Searching searching= ViewBag.search;

}

<head>
    @Styles.Render("~/Content/PassengersInfo.css")
    @Styles.Render("~/Content/FlightList.css")
</head>

@model List<FlyWithMe.Models.Passenger>



<section2>
    <div class="header">Chosen Outbound Flight</div>
    <table class="flights-table" id="">
        <tbody>
            <tr>
                <td>@outboundFlight.DepartureDate</td>
                <td>@outboundFlight.Company</td>
                <td>@outboundFlight.TakeOff</td>
                <td>@outboundFlight.Landing</td>
                <td>@outboundFlight.Price</td>
                <td>
                    <a href='javascript:history.go(-2)'>Change Selection</a>
                </td>
            </tr>
        </tbody>
    </table>
    @if (@ViewBag.inboundFlight != null)
    {
        <div class="header2">Chosen Inbound Flight</div>
        <table class="flights-table" id="">
            <tbody>
                <tr>

                    <td>@inboundFlight.DepartureDate</td>
                    <td>@inboundFlight.Company</td>
                    <td>@inboundFlight.TakeOff</td>
                    <td>@inboundFlight.Landing</td>
                    <td>@inboundFlight.Price</td>
                    <td>
                        <a href='javascript:history.go(-1)'>Change Selection</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }


</section2>
<section3>
    <h2>Passenger Information</h2>


    @if (inboundFlight != null)
    {
        using (Html.BeginForm("Payment", "Booking", new { goPlane = outboundFlight.infoTostring(), backPlane = inboundFlight.infoTostring(), searching = searching.infoTostring() }, FormMethod.Post))
        {

            for (int i = 0; i < passengersCount; i++)
            {
                <div class="passenger-form">

                    <h3>Passenger @(i + 1)</h3>
                    <img class="passenger-img" src="~/images/passenger.png" alt="Alternate Text" />
                    <div class="form-group">
                        @Html.Label("ID")
                        @Html.TextBoxFor(m => m[i].ID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Name")
                        @Html.TextBoxFor(m => m[i].Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBoxFor(m => m[i].Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Phone")
                        @Html.TextBoxFor(m => m[i].Phone, new { @class = "form-control" })
                    </div>

                </div>
            }
            <button type="submit">Proceed to Payment</button>
        }
    }
    @if (inboundFlight == null)
    {
        using (Html.BeginForm("Payment", "Booking", new { goPlane = outboundFlight.infoTostring(), backPlane = "Empty", searching = searching.infoTostring() }, FormMethod.Post))
        {

            for (int i = 0; i < passengersCount; i++)
            {
                <div class="passenger-form">

                    <h3>Passenger @(i + 1)</h3>
                    <img class="passenger-img" src="~/images/passenger.png" alt="Alternate Text" />
                    <div class="form-group">
                        @Html.Label("ID")
                        @Html.TextBoxFor(m => m[i].ID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Name")
                        @Html.TextBoxFor(m => m[i].Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBoxFor(m => m[i].Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Phone")
                        @Html.TextBoxFor(m => m[i].Phone, new { @class = "form-control" })
                    </div>

                </div>
            }
            <button type="submit">Proceed to Payment</button>
        }
    }
</section3>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
